:root {
    --white-: rgb(255, 255, 255);
    --red-: rgb(114, 14, 14);
    --black-: rgba(7, 7, 7, 0.904);
    --lightred-: rgb(252, 107, 107);
    --lightgreen-: #265e4f;
    --darkergreen-: #122e26;
    --grey-: rgb(105, 105, 105);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.7rem;
    font-family: 'Roboto Slab', serif, monospace;
    line-height: 1.7;
    color: var(--white-);
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: var(--red-);
    box-shadow: 0 1px 3px var(--lightred-);
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 1.5rem;
}

.nav-list a {
    display: block;
    padding: 1.7rem;
}

a {
    text-decoration: none;
    color: var(--white-);
}

.welcome-section {
    background-color: var(--black-);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h1, h2 {
    font-weight: 700px;
    text-align: center;
}

.welcome-section > p {
    color: var(--lightred-)
}

p {
    color:var(--white-);
}

.welcome-section span {
    font-size: 3.2rem;
}

.projects-section {
    text-align: center;
    background: var(--lightgreen-);
    padding: 10rem 2rem;
}

.projects-header {
    margin: 0 auto 5rem auto;
    border-bottom: 0.1rem solid var(--white-);
    max-width: 600px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 5.5rem;
}

.project {
    border-radius: 4px;
    box-shadow:1px 1px 1px var(--darkergreen-);
    background: var(--darkergreen-);
}

.project-image {
    height: calc(100% - 6rem);
    width: 100%;
    object-fit: cover;
}

img {
    display: block;
}

a {
    color: var(--white-);
    text-decoration: none;
}

.code {
    color: var(--red-);
}

.project-title {
    font-size: 1.7rem;
    padding: 1.5rem 0.5rem;
}

.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 2rem;
    background: var(--darkergreen-);
}

.contacts-header > h2 {
    font-size: 3.5rem;
}

.contacts-header > p {
    font-style: italic;
    font-weight: 100px;
    font-size: 1.5rem;
}

.contacts-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 3.5rem;
    flex-wrap: wrap;
}

.contacts-links > a > i {
    font-weight: 400;
}

.btn {
    display: inline-block;
    border-radius: 2px;
    padding: 0.7rem 2.5rem;
}

.contact-details {
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px black;
    transition: transform 0.3s ease-out;
}

@media (max-width: 600px) {
    .btn, .project-image, .project-title {
        width: 100%;
    }

    .contacts-section {
        background: var(--darkergreen-);
    }
}